#block {
  display: block;
  text-align: center;
}

#size,
#value,
#reset,
#result,
#text,
#Inform,
#search,
#gener,
#size_ll,
#result_ll,
#text_ll,
#reset_ll {
  margin: 5px;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  min-width: 70px;
  min-height: 40px;
  border: 0px;
}

body {
  background: peachpuff;
}

#search,
#gener {
  background: #e5b695;
}

#reset,
#reset_ll {
  background: #a98d89;
}

#result,
#result_ll {
  min-width: 0px;
  min-height: 0px;
}
